.styles_height35 {
  height: 35px !important;
  /* margin-left: 2rem; */
}

.styles_width100 {
  width: 100% !important;
}

.styles_delBorder {
  border-left: none;
  max-width: 100%;
}

/* .ant-input {
  border-color: #d9d9d9 !important;
} */

/* .ant-input-password {
  border-color: #d9d9d9 !important;
} */

.ant-form-item-has-error
  .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #d9d9d9 !important;
}

.ant-form-item-has-error .ant-input:not(.ant-input-disabled),
.ant-form-item-has-error
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled),
.ant-form-item-has-error .ant-input:not(.ant-input-disabled):hover,
.ant-form-item-has-error
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d9d9d9 !important;
}

.ant-form-item-has-error .ant-input:not(.ant-input-disabled),
.ant-form-item-has-error
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled),
.ant-form-item-has-error .ant-input:not(.ant-input-disabled):hover,
.ant-form-item-has-error
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d9d9d9 !important;
}

.ant-input:focus,
.ant-input-focused {
  /* border-color: #40a9ff; */
  /* border-right-width: 1px !important; */
  outline: 0 !important;
  box-shadow: none;
}

/* Antd Tabs */
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  border-bottom-color: violet;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: white !important;
  background: pink;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: violet;
  text-shadow: 0 0 0.5px currentColor;
}

/* react-tel-input */
.react-tel-input .form-control {
  width: 100%;
  border-top-right-radius: 0;
  border-right: none !important;
  border-bottom-right-radius: 0;
}
